.game:after {
  content: ' ';
  clear: both;
}

.game__aside {
  float:left;
  width:30%;
  height:100%;
  padding-right:20px;
}

.game__main {
  float:left;
  width:70%;
  height:100%;
}

.avatar {
  display:inline-block;
  width:20px;
  height:20px;
}
